extends ../layouts/primary

block title
  title Contact | Visits Mac App

block body
  section.content
    div.frame
      h1 Contact
      p If you have questions or just need support please feel free to send an email to 
        a(href="mailto:m@getvisitsapp.com") m@getvisitsapp.com
