body {
  margin: 0;
  padding: 0;
  background: #151515;
  font-family: "Lucida Grande";
  font-size: 14px;
  line-height: 20px;
  color: #E6E6E6;
}

.frame {
  width: 680px;
  margin: 0 auto;
}

.hl {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.logo {
  font-family: "Lucida Grande", Helvetica, Arial;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  height: 74px;
  line-height: 74px;
  display: block;
  background: url(/public/images/icon.png) no-repeat;
  padding-left: 90px;
  background-size: 74px 74px;
}

.footer {
  font-size: 12px;
  line-height: 75px;

  .hl {
    float: right;
    li {
      a {
        border-right: 1px solid #e6e6e6;
        padding: 0 15px;
        color: #e6e6e6;
      }
      a.last {
        border-right: 0;
        padding-right: 0;
      }
    }
  }
}
